<body>
  <!-- Loader -->
  <!-- <div id="preloader">
      <div id="status">
          <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
          </div>
      </div>
  </div> -->
  
  <!-- ERROR PAGE -->
  <section class="section bg-home" style="background-image: url('images/home/404.jpg');">
      <div class="bg-overlay"></div>
      <div class="home-center">
          <div class="home-desc-center">
              <div class="container">
                  <div class="row">
                      <div class="col-12 text-center error-page">
                          <a href="index-2.html">
                              <img src="images/logo-white.png" alt="missing_logo" height="20">
                              <div class="spacer-15"></div>
                          </a>
                          <h4 class="text-white">Error 404: Page's Not Found</h4>
                          <h1 class="text-white">404!</h1>
                          <h4 class="text-white">Please Back Again Later</h4>
                          <p class="text-white mt-3">Use the navigation above or the button below to get back and track.</p>
                          <a href="index-2.html" class="btn btn-custom mt-4">Go Back Home</a>
                      </div>
                  </div>
              </div> <!-- end container -->
          </div>
      </div>
  </section>
  <!-- ERROR PAGE -->