<ion-header>
  <ion-toolbar>
      <!-- Navigation Bar-->
      <div class="tagline hidden-md">
          <div class="container">
              <div class="float-left">
                  <div class="phone">
                      <i class="fas fa-phone"></i> +1 123 456 78 90
                  </div>
              </div>
              <div class="float-right">
                  <ul class="top_socials">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                  </ul>
              </div>
              <div class="clear"></div>
          </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
  </div>
</ion-content>
